body{
    display : flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    margin : 0;
    padding : 20px;
    box-sizing : border-box; /*Giúp padding (thuộc tính tạo khoảng trống bên trong phần tử, nằm giữa nội dung và đường viền)*/
    background-color: pink;
}



.container {
    text-align: center;
    max-width : 500px; /* Giới hạn độ rộng trên máy tính */
    width: 90%; /* Co dãn trên điện thoại*/

}

img {
    max-width: 100%; /* Luôn vừa với màn hình điện thoại*/
    height : auto;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items : center;
    flex-wrap : wrap; /* Nếu nút quá to sẽ tự xuống dòng */
    gap: 15px;
    margin-top: 20px;
}


.yes-button{
    background-color: #4caf50;
    color : white;
    padding : 10px 20px;
    border: non;
    border-radius: 5px;
    cursor : pointer;
    transition: 0.3s ; /* Hiệu ứng mượt khi phóng to*/

}